.filters {
    margin: 1.5vh auto;
    padding-left: 2vw;
    padding-right: 2vw;
    align-self: center;
    display: flex;
    height: 8vh;
    align-items: center;
}

.select_filter {
    height: 5vh;
    border-radius: 10vw;
    margin-right: 2vw;
    padding: 0.2vh 1vw 0.2vh 1.3vw;
    border-width: 0.1vw;
    font-size: 1.3vw;
    font-weight: 700;
    border-color: rgb(204, 204, 204);
    font-family: 'Abhaya-libre';
}

.search_catalog {
    position: absolute;
    right: 5vw;
    margin-top: -3vw;

}

.search_input {
    border-radius: 10vw;
    border: 0.1vw solid rgb(204, 204, 204);
    height: 5.5vh;
    width: 20vw;
    padding: 0.2vh 1vw 0.2vh 1.3vw;
    font-size: 1vw;
    margin-left: 33vw;

}

.catalog_btn {
    width: 10vw;
    height: 5.5vh;
    font-size: 1.3vw;
}

.cardItems {
    display: grid;
    padding: 5vh 7vw;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5vw;
    grid-row-gap: 6vh;
    margin-left: 5vw;
}