footer {
    height: 10vh;
    background-color: #cccccd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer img {
    height: 3vh;
    width: 1.8vw;
    margin-right: 1.5vw;
}
